@charset 'utf-8';
body{
    background: #999;
}
input{
    height: 34px;
}
.denglu{
    background: white;
    width: 887px;
    height: 476px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.denglu h2{
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    color: white;
    background: #a6a0ac;
    text-align: center;
}
.denglu h1{
    height: 104px;
    font-size: 24px;
    line-height: 104px;
    color: black;
    text-align: center;
}
.denglu h1 span{
    margin: 0 64px;
    color: #999;
}
.denglu h1 b{
    color: #999;
}
.denglu .denglu-l{
    width: 352px;
    font-size: 12px;
    margin-left: 65px;
}
.denglu-l .sjh-box{
    height: 42px;
}
.denglu-l .sjh-box span{
    line-height: 38px;
    margin-bottom: 5px;
}
#sjh{
    width: 259px;
}
.denglu-l p{
    font-size: 10px;
    color: #a94442;
    padding-left: 103px;
    margin-bottom: 10px;
}
.yzm-box #yzm{
    margin-left: 45px;
    width: 111px;
    height: 38px;
}
.yzm-box .yzm-imgbox{
    display: inline-block;
    width: 72px;
    height: 38px;
}
.yzm-box .yzm-imgbox img{
    width: 100%;
    height: 100%;
}
.yzm-box a{
    color: black;
}
.dxyzm-box{
    position: relative;
}
.dxyzm-box #dxyzm{
    width: 172px;
    margin-left: 17px
}
.dxyzm-box a{
    position: absolute;
    display: inline-block;
    width: 78px;
    height: 38px;
    background: black;
    color: white;
    line-height: 38px;
    text-align: center;
    margin-left: 9px;
}
#dl{
    width: 352px;
    background: black;
    border: black;
    color: white;
}
.denglu-l h3{
    color: black;
    margin: 23px 0 26px 0;
    font-size: 12px;
}
.denglu-l h4{
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: left;
}
.denglu-r{
    margin-left: 83px;
    font-size: 14px;
}
.denglu-r h3{
    font-size: 16px;
    line-height: 16px;
    margin: 12px 0 22px 0;
}
.denglu-r h4{
    font-size: 14px;
    margin-bottom: 19px;
}
.denglu-r ul li{
    margin-bottom: 18px;
}