@charset 'utf-8';
body{
    background: #999;
}
input{
    height: 34px;
}
.zhuce{
    background: white;
    width: 887px;
    height: 476px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.zhuce h2{
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    color: rgb(0, 0, 0);
    background: #d9f0ed;
    text-align: center;
}
.zhuce h1{
    height: 104px;
    font-size: 24px;
    line-height: 104px;
    color: #999;
    text-align: center;
}
.zhuce h1 span{
    margin: 0 64px;
    color: #999;
}
.zhuce h1 b{
    color: black;
}
.zhuce .zhuce-l{
    width: 352px;
    font-size: 12px;
    margin-left: 65px;
}
.zhuce-l div{
    height: 42px;
}
.zhuce-l div span{
    line-height: 38px;
}
.zhuce-l div input{
    width: 259px;
}
.zhuce-l p{
    font-size: 10px;
    color: #a94442;
    padding-left: 103px;
    margin-bottom: 10px;
}
#ljzc{
    width: 352px;
    background: black;
    border: black;
    color: white;
    margin-top: 20px;
}
.zhuce-l h3{
    color: black;
    margin: 23px 0 26px 0;
    font-size: 12px;
}

.zhuce-r{
    margin-left: 83px;
    font-size: 14px;
}
.zhuce-r p{
    font-size: 10px;
    color: #a94442;
    padding-left: 103px;
    margin-bottom: 10px;
}
.yzm-box #yzm{
    margin-left: 45px;
    width: 111px;
    height: 38px;
}
.yzm-box .yzm-imgbox{
    display: inline-block;
    width: 72px;
    height: 38px;
}
.yzm-box .yzm-imgbox img{
    width: 100%;
    height: 100%;
}
.yzm-box a{
    color: black;
}
.dxyzm-box{
    position: relative;
}
.dxyzm-box #dxyzm{
    width: 172px;
    margin-left: 17px
}
.dxyzm-box a{
    position: absolute;
    display: inline-block;
    width: 78px;
    height: 38px;
    background: black;
    color: white;
    line-height: 38px;
    text-align: center;
    margin-left: 9px;
}